%nav
  - @portfolio.categories.each_with_index do |category, i|
    .nav-link-wrapper{:class => ((!@category.nil? and @category.id == category.id) ? " selected " : "") + "category-order-#{i}"}
      = link_to category.title, showcase_path(:slug => @portfolio.slug, :category_slug => category.slug)

  - if @portfolio.about_page
    .nav-link-wrapper#about{:class => (@category.nil? ? "selected" : "")}
      = link_to "About", about_path(:slug => @portfolio.slug)
