- if @category.nil?
  #error-404
    This category doesn't exist, sorry.

- else
  #main-content#category-showcase
    #category-description
      %h2.name= @category.title
      .description= @category.description

    = render :partial => "photos", :locals => {:photos => @category.photos.activated.ordered.limited}
