- if @category.nil?
  #error-404
    This category doesn't exist, sorry.

- else
  #main-content#category-showcase
    #category-description
      %h2.name= @category.title
      .description= @category.description

    #photos
      - @category.photos.activated.ordered.limited.each_with_index do |photo, i|
        = render :partial => "photo", :locals => {:photo => photo, :i => i}
