- unless flash.nil? or flash[:notice].blank?
  :javascript
    $(function(){
      startGritter("#{escape_javascript flash[:notice][:title]}", "#{escape_javascript flash[:notice][:text]}");
    });
    
- unless flash.nil? or flash[:error].blank?
  :javascript
    $(function(){
      startGritter("#{escape_javascript flash[:error][:title]}", "#{escape_javascript flash[:error][:text]}");
    });