html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through;}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
header, footer, nav, section, article { display:block; }

/* THEME */

body{
  background: #FFFFFF;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 18px;
  color: #333;
}

/* Header and Nav */
header{
  background-color: black;
  padding: 45px 0px 0px 0px;
}

header h1{ 
  font-family: "Helvetica Neue", Helvetica, Arial;
  text-align: center;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: bold;
  color: #FF8400;
  height: 34px;
    
}

header p{ display:none; }

#nav-top nav {
  text-align: center;
  background: black;
  margin: 0px 0px 40px;
  padding: 20px 0px 20px 0px;
  height: 60px;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, .9);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, .9);
  box-shadow: 0 0 6px rgba(0, 0, 0, .9);
}

#nav-top nav a {
  font-family: 'Helvetica Neue', Helvetica, Arial;
  background: none;
  font-size: 14px;
  padding: 0px 5px 0px 5px;
  font-weight: normal;
  color: #777;
}

#nav-top nav a:hover {
  color:#9a9a9a;
}

#nav-top nav .selected a {
  color:#ffffff;
  font-weight:bold;   
}

#nav-bottom {
  display:none;
}

.nav-link-wrapper {
  display:inline-block;
}

/* Photos */
#main-content {
  width: 960px;
  margin: auto;
}

#category-description{
  display:none;
}

#photos {  
  padding: 0px 40px;
  margin: 0 auto;
}


.photo {
  margin-bottom: 30px;
  text-align: left;
  margin: 0 auto;
  font-weight: normal;
  width: 960px;
}

.image-wrapper {
  max-width: 960px;
  margin: 30px 0px 60px 0px;
}

.image-wrapper img {
  max-width: 960px;
  display: block;
  margin: 0 auto;
}

.account-instagram .image-wrapper {
  border: none;
  width: 450px;
  float: left;
  padding: 0 15px 20px 15px;
}

.account-instagram .photo .image-wrapper {
  width: 450px;
  margin: 0px 0px 10px 0px;
}

#single-photo-showcase .image-wrapper {
  width: 950px;
}

.account-instagram .image-wrapper img {
  width: 450px;
}

.description-wrapper{
  padding: 10px 0px;
  display:none;
  font-family: 'Helvetica Neue', Helvetica, Arial;
  color: #3F3F3F;
  font-weight: normal;
  text-shadow: 0 1px 0px white;
}

h3 {
 font-weight: normal;   
}

/* About */

#about-page {
  width: 650px;
  padding: 10px;
  font-size: 12px;
  line-height: 19px;
  color: #666;
  margin: 25px auto;
  text-shadow: 0 1px 0 white;
  text-align: justify;
}

#about-page h2 {
  display: inline-block;
  font-size: 18px;
  margin: 0px 0px 10px 0px;
}

.fb_edge_widget_with_comment {
  position: relative;
  padding: 20px 0px;
}

/* Links and Such */
a {
  color: #333;
  text-decoration:none;
  padding-top:1px;
}

.selected {
  font-weight:bold;
} 


/* Footer & Footest*/

footer {
  font-weight:normal;
  color: #777;
  font-family: 'Helvetica Neue', Helvetica, Arial;
  font-size: 11px;
  font-style:italic;
  text-align:center;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  width: 650px;
  margin: auto;
  padding: 15px 0px;    
}


#footest {
  text-align: center;
  font-size: 0.8em;
  width: 950px;
  margin: 0px auto 40px auto;
  padding: 5px 0px;
}


.ffocused {
  padding:5px;
}
  
  
  
.ffocused a {
  display:block;    
  font-family: 'Helvetica Neue', Helvetica, Arial;
  font-size:12px;
  height:14px;
  font-weight:bold;
  color:#777;
}

.theme, .theme a {
  font-weight:normal;
  color: #a5a5a5;
  font-family: 'Helvetica Neue', Helvetica, Arial;
  font-size: 11px;  
}

.theme a:hover {
  color:#4587d3;
  background:none; 
}