/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/reset/utilities";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/utilities/general/clearfix";

@include reset-html5;

/* Generalities */
body{
  font-family:"Arial";
  background-color: #fff;
  font-size: 14px;
}

a{
  color:#333;
  text-decoration:none;
}
a:hover{
 text-decoration:underline;
}
p{
  color:#444; 
  padding: 20px;
}

strong{
  background-color:yellow;
}
h2{
  font-size: 1.3em;
  margin: 0px 0px 10px 0px;
  background-color:#fefefe;
  border-bottom:1px solid #C6CACE;
  padding: 10px 20px;
  color: #6a7d8a;
  text-align:center;
}
h3{
  font-size: 1.4em;
  margin: 15px 0px 5px 20px;
}
ul{
  list-style-type:none;
}
.grid{
  width: 960px;
  margin: auto;
}
.inner-grid{
  width: 500px;
  margin: auto;
}
.back-link{
  padding:10px 20px;
  color: #888;
}
/* Header */
header{
  padding: 10px 0px;
  background-color:#0f0f0f;
  border-bottom: 5px solid #e6e6e6;
}

h1{
  background: url(/images/logo.png) no-repeat;
  width: 100px;
  height: 25px;
  display:inline-block;
}
#showcase-link{
  float:right;
  display:inline-block;
  margin:2px 30px;
  color: #ddd;
  padding: 5px 10px;
  background: url(/images/dark_button_bg.jpg);
  @include border-radius(10px);
  font-size: 0.9em;
}

/* Navigation */
nav{
  background-color: #f0f1f3;
  padding: 0px 20px;
  text-align:center;
  border-bottom: 1px solid #d3d7da;
  .selected{
    font-weight:bold;
  }
  a{
    display:inline-block;
    color: #6a7d8a;
    padding: 10px;
    margin: 0px 10px 0px 0px;
  }
  a:hover{
    text-decoration:none;
  }
}

#logout{
  color: #ddd;
  float:right;
  margin-top: 7px;
  font-size: 0.9em;
  a{
    color:#aaa;
  }
}
/* Content */
#content{
  width: 560px;
  margin: auto;
  background-color: #fff;
  border: 1px solid #c6cace;
  padding: 0px;
}
#content-wrapper{
  background-color:#f5f5f5;
  padding: 40px 0px 80px 0px;
}

/* Footer */
footer{
  background-color:#fff;
  z-index:30;
  width:100%;
  height:50px;
  border-top: 1px solid #c6cace ;
  padding: 15px 0px;
  color: #777;
  .extra-nav{
    margin-bottom: 15px;
    a{
      color: #777;
      font-weight:bold;
      display:inline-block;
      margin-right:20px;
    }
  }
  .extra-details{
    font-size: 0.9em;
  }
}

/* Forms */
form{
  padding: 20px;
}
label{
  display:block;
  margin-top: 15px;
}
select{
  margin-top:5px;
  font-size: 0.9em;
}
input[type=text], textarea, .text{
  width: 450px;
  padding: 5px;
  border: 1px solid #d3d8dc;
  font-size: 1em;
  margin-top:5px;
  color:#666686;
  font-family: "Arial";
  @include border-radius(5px);
}
textarea{
  height:200px;
}
.submit-wrapper{
  margin-top: 15px;
  input{
    border: 1px solid #0052e2;
    background: url(/images/button_bg.jpg) repeat-x;
    color: #fff;
    padding: 2px 10px;
    @include border-radius(5px);
  }
}

/* Categories */
.category{
  a{
   text-decoration:underline;
   font-weight:bold;
  }
}

/* Lists */
ul{
  margin: 20px;
  width:100%;
  li{
    height:85px;
    .title{
      width:75%;
      font-size: 1.3em;
      display:inline-block;
      padding-top:27px;
    }
    *{
      float:left;
    }
    img{
      width: 60px;
      height: 60px;
      margin-right: 20px;
      padding: 3px;
      border: 1px solid #c4ced5;
      background-color:#eee;
      @include border-radius(5px);
    }
  }
  .delete{
    float:right;
    font-weight:normal;
    font-size: 0.8em;
  }
}

/* Admin */
table{
  th{
    background-color:#333;
    color:#fff;
  }
  td, th{
    padding: 5px 10px;
  }
}