#previewing{
  text-align:center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  background-color:#fff;
  font-family: "Helvetica", "Arial";
  font-size: 14px;
  position: fixed;
  width: 100%;
  top: 0px;
  opacity: 0.6;
}
