#previewing{
  text-align: center;
  padding: 15px 0px;
  border-bottom: 1px solid black;
  background-color: #111111;
  font-family: Lucida Grande;
  font-size: 12px;
  position: fixed;
  width: 100%;
  top: 0px;
  opacity: 0.9;
  color: #CCC;
  font-weight: normal;
  text-shadow: 0 1px 0px black;
}
