%h2= t("remote_accounts.index.title")

#all-accounts
  = link_to t("remote_accounts.index.new"), new_remote_account_path, :class => "plus-button"
  
  - @remote_accounts.each do |account|
    .account-entry{:class => "account-entry-#{account.class_name}"}
      = account.remote_user_name