#faq
  - if I18n.locale == :en
    %h2 Frequently Asked Questions
  
    %h4 What is this?
    %p This is a service that allows you to create a customized website to showcase your photos.
    
    %h4 How do I Add Photos?
    %p 
      Photos are all contained in categories. You can create categories by logging in. 
      Each category is linked to either a Flickr "tag" or a "set". 
      These are concepts from Flickr used to sort your pictures.
    
    %h4 I Created a Category but my Photo isn't Displayed
    %p
      There can be various reasons. 
    
    %p
      If you use tags, it usually takes some time for the information to be public. 
      Meaning you'll have to wait a bit between adding a tag and trying to fetch the pictures for your portfolio.
    
    %p
      If your portfolio shows a Flickr logo and "This photo is currently unavailable", it means that the photo is
      either not at a valid format, has been removed or is not public anymore
      
    %h4 My Photos are Private, can I Use This Service?
    %p
      No, if your photos are set as private on Flickr it means that they are not meant to be showcased.
      
    %h4 Why Only 15 Photos are Displayed?
    %p 
      The idea of this portfolio is to showcase your favorite pictures, and not losing the visitor into
      a huge list of photos when they get to a category.
      If you want to display more than 15 you should use different categories.
      
      
      
      
      
      